*{
    font-weight: 100;
    padding: 0;
    margin: 0;
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
}
.movie-title {
    padding-left: 50px;
    text-transform: capitalize;
    margin-top: 150px;
}



.title {
    color: var(--text-color);
    opacity: 0.9;
    padding-left: 4%;
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 500;
    padding-top: 30px;
}

.movies-list {
    width: 100%;
    height: 260px;
    position: relative;
    margin: 10px 0 20px;
}

.card-container {
    position: relative;
    width: 94%;
    padding-left: 10px;
    display: flex;
    margin: 0 auto;
    align-items: center;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
}

.card-container::-webkit-scrollbar {
    display: none;
}

.card {
    position: relative;
    min-width: 190px;
    width: 290px;
    height: 270px;
    border-radius: 5px;
    overflow: hidden;
    margin-right: 10px;
    transition: 0.5s;
    background: #000;
}

.card-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover {
    /* transform: scale(1.1); */
}

.card:hover .card-body {
    opacity: 1;
}

.card-body {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 20%;
    left: 0;
    z-index: 2;
    background: linear-gradient(to bottom, rgba(4, 8, 15, 0), #090b11f5 90%);
    padding: 10px;
    transition: 0.5s;
}

.name {
    color: var(--text-color);
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 60%;
}

.des {
    color: var(--text-color);
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
}

.watchlist-btn {
    position: relative;
    width: 100%;
    text-transform: capitalize;
    background: none;
    border: none;
    font-weight: 500;
    text-align: center;
    color: rgba(255, 255, 255, 0.9);
    margin: 5px 0;
    cursor: pointer;
    padding: 10px 5px;
    border-radius: 5px;
}

.watchlist-btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: -5px;
    height: 35px;
    width: 35px;
    background-image: url();
    background-size: cover;
    transform: scale(0.4);
}

.watchlist-btn:hover {
    color: var(--text-color);
    background: rgba(255, 255, 255, 0.265);
}

.pre-btn,
.nxt-btn {
    position: absolute;
    top: 0;
    width: 3%;
    height: 100%;
    z-index: 2;
    border: none;
    cursor: pointer;
    outline: none;
}

.pre-btn {
    left: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b00);
}

.nxt-btn {
    right: 0;
    background: linear-gradient(to right, #0c111b 0%, #0c111b00);
}

.pre-btn img,
.nxt-btn img {
    width: 35px;
    opacity: 0;
    z-index: 600;
}

.pre-btn:hover img,
.nxt-btn:hover img {
    opacity: 1;
}

/* preview start here */
.movies-preview{
    position: fixed;
    top:0;
    left: 0;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display:flex;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    z-index: 200;
}
.movies-preview .preview{
    display: none;
    background: #090c14;
    /* padding: 0.5rem; */
    /* text-align: center; */
    width: 60%;
    position: relative;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0px 0px 10px 0px rgb(61, 61, 61); 
    
}

.mobile-button button{
    display:none;
}
.movies-preview .preview.active{
    display: inline-block;
}
.movies-preview .preview video{
    width: 100%;
    position: absolute;
    top: 0%;
}
.preview-details p{
    line-height: 24px;
    font-size: 18px;
    font-weight: 100;
    color: rgb(157, 156, 156);
}
.preview-details button{
    margin-top: 30px;
}
.preview-details{
    position:relative;
    padding-top: 250px;
    background-image: linear-gradient(to right, #090c14f3, rgba(0, 0, 0, 0));
    padding-left: 20px;
    margin-bottom: 30px;
    height: fit-content;
}
.mobile-desc h3{
    display: none;
}
.movie-infos{
    display: none;
}


/* details */
.preview-details img{
    width: 30%;
    margin-bottom: 30px;
}

.movies-preview .preview .fa-xmark{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background: white;
    padding: 10px 12px 10px 12px;
    border-radius: 50px;
    z-index: 300;
}

@media only screen and (max-width: 850px) {
    .movies-list {
        width: 100%;
        height: 200px;
    }
    
    .card-container {
        width: 100%;
       
    }

    .card {
        min-width: 150px;
        width: 290px;
        height: 220px;
    }
    
    .movie-infos{
        display: flex;
    }

    /* preview start here */
.movies-preview{
    position: fixed;
    top:0%;
    left: 0;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    display:flex;
    /* width: 100%; */
    align-items: center;
    justify-content: center;
    z-index: 200;
}
.movies-preview .preview{
    width: 100%;
    height: 100vh;
    border-radius: 0px;
    box-shadow: none; 
    background: #070a10;
}

.movies-preview .preview video{
    width: 100%;
    top: 2%;
}
.preview-details p{
    line-height: 24px;
    font-size: 17px;
    padding-top: 30px;
    font-weight: 100;
    color: rgb(157, 156, 156);
    display: none;
}
.computer-button{
    display: none;
}

.mobile-desc h3{
    display: block;
    font-size: 17px;
    padding-top: 10px;
    color: rgb(172, 171, 171);
    line-height: 20px;
}
.mobile-button{
    margin-top: 30px;
}
.mobile-button button{
    display: block; 
    margin-top: 20px;
    margin-left:12px;
    width: 90%;
    height: 40px;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    font-weight: 100;
}
.preview-details img{
    margin-bottom: none;
}
.preview-details{
    position:relative;
    padding-top: 130px;
    background-image: linear-gradient(to right, #090c14f3, rgba(0, 0, 0, 0));
    padding-left: 15px;
    margin-bottom: 30px;
    height: fit-content;
}



/* details */
.preview-details img{
    width: 30%;
    margin-bottom: 30px;
}

.movies-preview .preview .fa-xmark{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.3rem;
    color: rgb(0, 0, 0);
    cursor: pointer;
    background: white;
    padding: 10px 12px 10px 12px;
    border-radius: 50px;
    z-index: 300;
}
    
    
}